@-webkit-keyframes rotate {
  /* line 40, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 41, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 44, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 45, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  /* line 48, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 49, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  /* line 53, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 54, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Orbit Graceful Loading */
/* line 58, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.slideshow-wrapper {
  position: relative;
}
/* line 61, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.slideshow-wrapper ul {
  list-style-type: none;
  margin: 0;
}
/* line 68, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.slideshow-wrapper ul li,
.slideshow-wrapper ul li .orbit-caption {
  display: none;
}
/* line 71, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.slideshow-wrapper ul li:first-child {
  display: block;
}
/* line 74, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.slideshow-wrapper .orbit-container {
  background-color: transparent;
}
/* line 77, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.slideshow-wrapper .orbit-container li {
  display: block;
}
/* line 79, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.slideshow-wrapper .orbit-container li .orbit-caption {
  display: block;
}

/* line 85, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.preloader {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  border: solid 3px;
  border-color: #555 #fff;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotate;
  -o-animation-duration: 1.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* line 117, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  background: whitesmoke;
}
/* line 123, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-slides-container {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 129, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-slides-container img {
  display: block;
  max-width: 100%;
}
/* line 131, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-slides-container > * {
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: 100%;
}
/* line 142, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-slides-container > *:first-child {
  margin-left: 0%;
}
/* line 151, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-slides-container > * .orbit-caption {
  position: absolute;
  bottom: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 10px 14px;
  font-size: 0.875em;
}
/* line 164, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-slide-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}
/* line 169, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-slide-number span {
  font-weight: 700;
  padding: 0.3125em;
}
/* line 175, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-timer {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 6px;
  width: 100px;
  z-index: 10;
}
/* line 182, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-timer .orbit-progress {
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  width: 0%;
}
/* line 190, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-timer > span {
  display: none;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 11px;
  height: 14px;
  border: solid 4px #000;
  border-top: none;
  border-bottom: none;
}
/* line 203, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-timer.paused > span {
  right: -6px;
  top: 9px;
  width: 11px;
  height: 14px;
  border: inset 8px;
  border-right-style: solid;
  border-color: transparent transparent transparent #000;
}
/* line 215, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container:hover .orbit-timer > span {
  display: block;
}
/* line 219, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-prev,
.orbit-container .orbit-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 60px;
  line-height: 50px;
  color: white;
  text-indent: -9999px !important;
}
/* line 231, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-prev > span,
.orbit-container .orbit-next > span {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  display: block;
  width: 0;
  height: 0;
  border: inset 16px;
}
/* line 241, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-prev {
  left: 0;
}
/* line 242, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-prev > span {
  border-right-style: solid;
  border-color: transparent;
  border-right-color: #fff;
}
/* line 247, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-prev:hover > span {
  border-right-color: #ccc;
}
/* line 251, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-next {
  right: 0;
}
/* line 252, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-next > span {
  border-color: transparent;
  border-left-style: solid;
  border-left-color: #fff;
  left: 50%;
  margin-left: -8px;
}
/* line 259, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-container .orbit-next:hover > span {
  border-left-color: #ccc;
}

/* line 265, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-bullets {
  margin: 0 auto 30px auto;
  overflow: hidden;
  position: relative;
  top: 10px;
}
/* line 271, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-bullets li {
  display: block;
  width: 10px;
  height: 10px;
  background: #999999;
  float: left;
  margin-right: 6px;
  border: solid 1px #555555;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 281, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-bullets li.active {
  background: #555555;
}
/* line 285, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.orbit-bullets li:last-child {
  margin-right: 0;
}

/* line 292, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.touch .orbit-container .orbit-prev,
.touch .orbit-container .orbit-next {
  display: none;
}
/* line 295, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
.touch .orbit-bullets {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 304, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  .touch .orbit-container .orbit-prev,
  .touch .orbit-container .orbit-next {
    display: inherit;
  }
  /* line 307, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  .touch .orbit-bullets {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  /* line 314, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  .orbit-stack-on-small .orbit-slides-container {
    height: auto !important;
  }
  /* line 315, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  .orbit-stack-on-small .orbit-slides-container > * {
    position: relative;
    margin-left: 0% !important;
  }
  /* line 322, ../../../../sass/components/bitrix/photo.section/orbit/style.scss */
  .orbit-stack-on-small .orbit-timer,
  .orbit-stack-on-small .orbit-next,
  .orbit-stack-on-small .orbit-prev,
  .orbit-stack-on-small .orbit-bullets {
    display: none;
  }
}
